<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <title>Danger Hopeless</title>
</head>
<body>
  <pug-bg></pug-bg>
  <div id="page">
    <nav>
      <a href="#home"><i class="bi bi-menu-button-wide-fill"></i></a>
      <a href="#services"><i class="bi bi-shop"></i></a>
      <a href="#about"><i class="bi bi-card-heading"></i></a>
      <a href="#call-us"><i class="bi bi-phone-vibrate"></i></a>
    </nav>
    <div class='container'>
      <section id='home'>
        <home></home>
        <br><br>
        <app-buttons></app-buttons>
      </section>
  
      <section id='services'>
        <services></services>
        <br><br>
        <app-buttons></app-buttons>
      </section>
  
      <section id='about'>
        <h1>About</h1>
        <br><br>
        <app-buttons></app-buttons>
      </section>
  
      <section id='call-us'>
        <call-us></call-us>
        <br><br>
        <app-buttons></app-buttons>
      </section>
    </div>
  </div>
</body>

</html>